@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #0077ff;
    --primary-color-subtle: #0064d6;
    --scrollbar-color: #58b4ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: all 0.1s ease;
}

* {
scrollbar-width: auto;
scrollbar-color: var(--scrollbar-color) #ffffff;
}

*::-webkit-scrollbar {
width: 12px;
}

*::-webkit-scrollbar-track {
background: #ffffff;
}

*::-webkit-scrollbar-thumb {
background-color: var(--scrollbar-color);
border-radius: 10px;
border: 3px solid #ffffff;
}

.btn-primary {
    color: #fff !important;
}

a.btn-primary:link, .btn-primary {
    background-color: var(--primary-color) !important;
}

a.btn-primary:hover, .btn-primary:hover {
    background-color: #2d1a50 !important;
    transition: all 0.2s ease;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-darker{
    background-color: var(--primary-color-subtle) !important;
}

.click-none {
    pointer-events: none !important;
    user-select: none !important;
}

.content {
    overflow-wrap: normal !important;
}

.custom-sidebar {
    position: sticky !important;
    left: 0px !important;
    transition: all 0.2s ease !important;
}

.custom-sidebar-closed {
    transform: translate(-16rem, 0rem) !important;
}

.custom-sidebar > ol {
    width: 16rem;
}

.custom-sidebar-selection > a {
    display: block;
    width: 100%;
}

.custom-sidebar-selection.inactive > a {
    color: #c1c2ca !important;
}

.custom-sidebar-selection:hover:not(.inactive) {
    background-color: var(--primary-color) !important;
    transition: all 0.2s ease;
}

.intersection-navbar {
    height: 7rem !important;
}

.link-primary:link {
    color: var(--primary-color) !important;
}

.link-primary:hover {
    color: #2d1a50 !important;
    transition: all 0.2s ease;
}

.navbar-topped {
    background-color: transparent !important;);
    transition: all 0.1s ease !important;
}

.navbar-topped * {
    color: #000 !important;
}

.navbar-scrolled {
    background-color: var(--primary-color-subtle)!important;
    color: #fff !important;
    transition: all 0.1s ease !important;
}

.navbar-scrolled * {
    color: #fff !important;
}

.profile-circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-right: 0.5rem;
}

.pointer-none {
    cursor: default !important;
}

.pointer {
    cursor: pointer !important;
}

.z-999 {
    z-index: 999;
}

.z-998 {
    z-index: 998;
}

.z-100 {
    z-index: 100;
}

.z-99 {
    z-index: 99;
}

.z-98 {
    z-index: 98;
}

@media screen and (max-width: 768px) {
    .custom-sidebar {
        position: fixed !important;
    }
}