@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

.btn-purple {
    color: #fff !important;
}

a.btn-purple:link, .btn-purple {
    background-color: #6f42c1 !important;
}

a.btn-purple:hover, .btn-purple:hover {
    background-color: #2d1a50 !important;
    transition: all 0.2s ease;
}

.bg-purple {
    background-color: #6f42c1 !important;
}

.bg-purple-darker{
    background-color: #5f38a8 !important;
}

.click-none {
    pointer-events: none !important;
    user-select: none !important;
}

.custom-sidebar {
    position: relative !important;
    left: 0px !important;
    transition: all 0.2s ease !important;
}

.custom-sidebar-closed {
    transform: translate(-16rem, 0rem) !important;
}

.custom-sidebar > ol {
    width: 16rem;
}

.custom-sidebar-selection > a {
    display: block;
    width: 100%;
}

.custom-sidebar-selection.inactive > a {
    color: #c1c2ca !important;
}

.custom-sidebar-selection:hover:not(.inactive) {
    background-color: #6f42c1 !important;
    transition: all 0.2s ease;
}

.link-purple:link {
    color: #6f42c1 !important;
}

.link-purple:hover {
    color: #2d1a50 !important;
    transition: all 0.2s ease;
}

.pointer-none {
    cursor: default !important;
}

@media screen and (max-width: 768px) {
    .custom-sidebar {
        position: fixed !important;
    }
}